<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmClazzBakMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_clazz_bak
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.orgId != null and obj.orgId != ''">
                 and org_id = #{obj.orgId}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.subId != null and obj.subId != ''">
                 and sub_id = #{obj.subId}
             </if>
             <if test="obj.name != null and obj.name != ''">
                 and name = #{obj.name}
             </if>
             <if test="obj.subhead != null and obj.subhead != ''">
                 and subhead = #{obj.subhead}
             </if>
             <if test="obj.num != null">
                 and num = #{obj.num}
             </if>
             <if test="obj.price != null">
                 and price = #{obj.price}
             </if>
             <if test="obj.objApply != null and obj.objApply != ''">
                 and obj_apply = #{obj.objApply}
             </if>
             <if test="obj.gradeType != null and obj.gradeType != ''">
                 and grade_type = #{obj.gradeType}
             </if>
             <if test="obj.frequency != null and obj.frequency != ''">
                 and frequency = #{obj.frequency}
             </if>
             <if test="obj.frequencyNum != null">
                 and frequency_num = #{obj.frequencyNum}
             </if>
             <if test="obj.openInfo != null and obj.openInfo != ''">
                 and open_info = #{obj.openInfo}
             </if>
             <if test="obj.intro != null and obj.intro != ''">
                 and intro = #{obj.intro}
             </if>
             <if test="obj.linkUrl != null and obj.linkUrl != ''">
                 and link_url = #{obj.linkUrl}
             </if>
             <if test="obj.teacherIntro != null and obj.teacherIntro != ''">
                 and teacher_intro = #{obj.teacherIntro}
             </if>
             <if test="obj.rfm != null">
                 and rfm = #{obj.rfm}
             </if>
             <if test="obj.isPut != null">
                 and is_put = #{obj.isPut}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
        </where>
    </select>
</mapper>