<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmContactMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_contact
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.phone != null and obj.phone != ''">
                 and phone = #{obj.phone}
             </if>
             <if test="obj.name != null and obj.name != ''">
                 and name = #{obj.name}
             </if>
             <if test="obj.sex != null and obj.sex != ''">
                 and sex = #{obj.sex}
             </if>
             <if test="obj.position != null and obj.position != ''">
                 and position = #{obj.position}
             </if>
             <if test="obj.salary != null">
                 and salary = #{obj.salary}
             </if>
             <if test="obj.remark != null and obj.remark != ''">
                 and remark = #{obj.remark}
             </if>
             <if test="obj.isHousehold != null">
                 and is_household = #{obj.isHousehold}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.versionNum != null and obj.versionNum != ''">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.attribA != null and obj.attribA != ''">
                 and attrib_a = #{obj.attribA}
             </if>
             <if test="obj.attribB != null and obj.attribB != ''">
                 and attrib_b = #{obj.attribB}
             </if>
             <if test="obj.attribC != null and obj.attribC != ''">
                 and attrib_c = #{obj.attribC}
             </if>
             <if test="obj.attribD != null">
                 and attrib_d = #{obj.attribD}
             </if>
             <if test="obj.attribE != null">
                 and attrib_e = #{obj.attribE}
             </if>
             <if test="obj.attribF != null">
                 and attrib_f = #{obj.attribF}
             </if>
        </where>
    </select>
</mapper>