<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmClazzScheduleMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_clazz_schedule
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.orgId != null and obj.orgId != ''">
                 and org_id = #{obj.orgId}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.code != null and obj.code != ''">
                 and code = #{obj.code}
             </if>
             <if test="obj.name != null and obj.name != ''">
                 and name = #{obj.name}
             </if>
             <if test="obj.classId != null and obj.classId != ''">
                 and class_id = #{obj.classId}
             </if>
             <if test="obj.teacherId != null and obj.teacherId != ''">
                 and teacher_id = #{obj.teacherId}
             </if>
             <if test="obj.type != null and obj.type != ''">
                 and type = #{obj.type}
             </if>
             <if test="obj.num != null">
                 and num = #{obj.num}
             </if>
             <if test="obj.frequency != null and obj.frequency != ''">
                 and frequency = #{obj.frequency}
             </if>
             <if test="obj.isOpen != null">
                 and is_open = #{obj.isOpen}
             </if>
             <if test="obj.startDate != null and obj.startDate != ''">
                 and start_date = #{obj.startDate}
             </if>
             <if test="obj.giveDate != null and obj.giveDate != ''">
                 and give_date = #{obj.giveDate}
             </if>
             <if test="obj.endDate != null and obj.endDate != ''">
                 and end_date = #{obj.endDate}
             </if>
             <if test="obj.classroomId != null and obj.classroomId != ''">
                 and classroom_id = #{obj.classroomId}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.stopTime != null and obj.stopTime != ''">
                 and stop_time = #{obj.stopTime}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.isInvalid != null">
                 and is_invalid = #{obj.isInvalid}
             </if>
             <if test="obj.status != null and obj.status != ''">
                 and status = #{obj.status}
             </if>
             <if test="obj.hasNum != null">
                 and has_num = #{obj.hasNum}
             </if>
        </where>
    </select>
</mapper>