<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmOrderMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_order
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.orderDetailsNo != null and obj.orderDetailsNo != ''">
                 and order_details_no = #{obj.orderDetailsNo}
             </if>
             <if test="obj.orderNo != null and obj.orderNo != ''">
                 and order_no = #{obj.orderNo}
             </if>
             <if test="obj.orgId != null and obj.orgId != ''">
                 and org_id = #{obj.orgId}
             </if>
             <if test="obj.orgName != null and obj.orgName != ''">
                 and org_name = #{obj.orgName}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.organizationName != null and obj.organizationName != ''">
                 and organization_name = #{obj.organizationName}
             </if>
             <if test="obj.subId != null and obj.subId != ''">
                 and sub_id = #{obj.subId}
             </if>
             <if test="obj.subName != null and obj.subName != ''">
                 and sub_name = #{obj.subName}
             </if>
             <if test="obj.classId != null and obj.classId != ''">
                 and class_id = #{obj.classId}
             </if>
             <if test="obj.clazzName != null and obj.clazzName != ''">
                 and clazz_name = #{obj.clazzName}
             </if>
             <if test="obj.classScheduleName != null and obj.classScheduleName != ''">
                 and class_schedule_name = #{obj.classScheduleName}
             </if>
             <if test="obj.classScheduleId != null and obj.classScheduleId != ''">
                 and class_schedule_id = #{obj.classScheduleId}
             </if>
             <if test="obj.userId != null and obj.userId != ''">
                 and user_id = #{obj.userId}
             </if>
             <if test="obj.teacherId != null and obj.teacherId != ''">
                 and teacher_id = #{obj.teacherId}
             </if>
             <if test="obj.teacherName != null and obj.teacherName != ''">
                 and teacher_name = #{obj.teacherName}
             </if>
             <if test="obj.clazzType != null">
                 and clazz_type = #{obj.clazzType}
             </if>
             <if test="obj.studentId != null and obj.studentId != ''">
                 and student_id = #{obj.studentId}
             </if>
             <if test="obj.studentName != null and obj.studentName != ''">
                 and student_name = #{obj.studentName}
             </if>
             <if test="obj.classroomId != null and obj.classroomId != ''">
                 and classroom_id = #{obj.classroomId}
             </if>
             <if test="obj.classroomName != null and obj.classroomName != ''">
                 and classroom_name = #{obj.classroomName}
             </if>
             <if test="obj.consultantId != null and obj.consultantId != ''">
                 and consultant_id = #{obj.consultantId}
             </if>
             <if test="obj.goodPrice != null">
                 and good_price = #{obj.goodPrice}
             </if>
             <if test="obj.clubcardId != null and obj.clubcardId != ''">
                 and clubcard_id = #{obj.clubcardId}
             </if>
             <if test="obj.clubcardMoney != null">
                 and clubcard_money = #{obj.clubcardMoney}
             </if>
             <if test="obj.clubcardDiscountsMoney != null">
                 and clubcard_discounts_money = #{obj.clubcardDiscountsMoney}
             </if>
             <if test="obj.couponsId != null and obj.couponsId != ''">
                 and coupons_id = #{obj.couponsId}
             </if>
             <if test="obj.couponsMoney != null">
                 and coupons_money = #{obj.couponsMoney}
             </if>
             <if test="obj.couponsDiscountsMoney != null">
                 and coupons_discounts_money = #{obj.couponsDiscountsMoney}
             </if>
             <if test="obj.sumMoney != null">
                 and sum_money = #{obj.sumMoney}
             </if>
             <if test="obj.discountsMoney != null">
                 and discounts_money = #{obj.discountsMoney}
             </if>
             <if test="obj.orderStatus != null">
                 and order_status = #{obj.orderStatus}
             </if>
             <if test="obj.payTime != null and obj.payTime != ''">
                 and pay_time = #{obj.payTime}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.source != null">
                 and source = #{obj.source}
             </if>
             <if test="obj.way != null">
                 and way = #{obj.way}
             </if>
        </where>
    </select>
</mapper>