<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmSalesOpportunityMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_sales_opportunity
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.customerId != null and obj.customerId != ''">
                 and customer_id = #{obj.customerId}
             </if>
             <if test="obj.contactId != null and obj.contactId != ''">
                 and contact_id = #{obj.contactId}
             </if>
             <if test="obj.productId != null and obj.productId != ''">
                 and product_id = #{obj.productId}
             </if>
             <if test="obj.salesAmount != null">
                 and sales_amount = #{obj.salesAmount}
             </if>
             <if test="obj.salesDate != null and obj.salesDate != ''">
                 and sales_date = #{obj.salesDate}
             </if>
             <if test="obj.status != null and obj.status != ''">
                 and status = #{obj.status}
             </if>
             <if test="obj.detailsStatusId != null and obj.detailsStatusId != ''">
                 and details_status_id = #{obj.detailsStatusId}
             </if>
             <if test="obj.salesLeadId != null and obj.salesLeadId != ''">
                 and sales_lead_id = #{obj.salesLeadId}
             </if>
             <if test="obj.principalId != null and obj.principalId != ''">
                 and principal_id = #{obj.principalId}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.transferDate != null and obj.transferDate != ''">
                 and transfer_date = #{obj.transferDate}
             </if>
             <if test="obj.isStar != null">
                 and is_star = #{obj.isStar}
             </if>
             <if test="obj.isView != null">
                 and is_view = #{obj.isView}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.opportunityProperty != null and obj.opportunityProperty != ''">
                 and opportunity_property = #{obj.opportunityProperty}
             </if>
             <if test="obj.amount != null">
                 and amount = #{obj.amount}
             </if>
             <if test="obj.payType != null and obj.payType != ''">
                 and pay_type = #{obj.payType}
             </if>
             <if test="obj.remark != null and obj.remark != ''">
                 and remark = #{obj.remark}
             </if>
        </where>
    </select>
</mapper>