<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmSalesLeadMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_sales_lead
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.customerId != null and obj.customerId != ''">
                 and customer_id = #{obj.customerId}
             </if>
             <if test="obj.contactId != null and obj.contactId != ''">
                 and contact_id = #{obj.contactId}
             </if>
             <if test="obj.number != null and obj.number != ''">
                 and number = #{obj.number}
             </if>
             <if test="obj.sourceFrom != null and obj.sourceFrom != ''">
                 and source_from = #{obj.sourceFrom}
             </if>
             <if test="obj.status != null and obj.status != ''">
                 and status = #{obj.status}
             </if>
             <if test="obj.detailsStatusId != null and obj.detailsStatusId != ''">
                 and details_status_id = #{obj.detailsStatusId}
             </if>
             <if test="obj.principalId != null and obj.principalId != ''">
                 and principal_id = #{obj.principalId}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.transferDate != null and obj.transferDate != ''">
                 and transfer_date = #{obj.transferDate}
             </if>
             <if test="obj.isStar != null">
                 and is_star = #{obj.isStar}
             </if>
             <if test="obj.leadProperty != null and obj.leadProperty != ''">
                 and lead_property = #{obj.leadProperty}
             </if>
             <if test="obj.isView != null">
                 and is_view = #{obj.isView}
             </if>
             <if test="obj.isSea != null">
                 and is_sea = #{obj.isSea}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.versionNum != null and obj.versionNum != ''">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
        </where>
    </select>
</mapper>