<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmStudentMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_student
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.stuNo != null and obj.stuNo != ''">
                 and stu_no = #{obj.stuNo}
             </if>
             <if test="obj.customerId != null and obj.customerId != ''">
                 and customer_id = #{obj.customerId}
             </if>
             <if test="obj.type != null and obj.type != ''">
                 and type = #{obj.type}
             </if>
             <if test="obj.name != null and obj.name != ''">
                 and name = #{obj.name}
             </if>
             <if test="obj.birthday != null and obj.birthday != ''">
                 and birthday = #{obj.birthday}
             </if>
             <if test="obj.sex != null and obj.sex != ''">
                 and sex = #{obj.sex}
             </if>
             <if test="obj.grade != null and obj.grade != ''">
                 and grade = #{obj.grade}
             </if>
             <if test="obj.schoolId != null and obj.schoolId != ''">
                 and school_id = #{obj.schoolId}
             </if>
             <if test="obj.interest != null and obj.interest != ''">
                 and interest = #{obj.interest}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.onsysStudentId != null and obj.onsysStudentId != ''">
                 and onsys_student_id = #{obj.onsysStudentId}
             </if>
             <if test="obj.school != null and obj.school != ''">
                 and school = #{obj.school}
             </if>
        </where>
    </select>
</mapper>