<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmTeacherMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_teacher
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.orgId != null and obj.orgId != ''">
                 and org_id = #{obj.orgId}
             </if>
             <if test="obj.organizationId != null and obj.organizationId != ''">
                 and organization_id = #{obj.organizationId}
             </if>
             <if test="obj.name != null and obj.name != ''">
                 and name = #{obj.name}
             </if>
             <if test="obj.imageUrl != null and obj.imageUrl != ''">
                 and image_url = #{obj.imageUrl}
             </if>
             <if test="obj.phone != null and obj.phone != ''">
                 and phone = #{obj.phone}
             </if>
             <if test="obj.schoolAge != null and obj.schoolAge != ''">
                 and school_age = #{obj.schoolAge}
             </if>
             <if test="obj.intro != null and obj.intro != ''">
                 and intro = #{obj.intro}
             </if>
             <if test="obj.sort != null">
                 and sort = #{obj.sort}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
        </where>
    </select>
</mapper>