<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingcheng.marketing.business.mapper.CrmTaskMapper">

    <select id="queryPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from crm_task
        <where>
            1 = 1
             <if test="obj.id != null and obj.id != ''">
                 and id = #{obj.id}
             </if>
             <if test="obj.taskName != null and obj.taskName != ''">
                 and task_name = #{obj.taskName}
             </if>
             <if test="obj.taskGroup != null and obj.taskGroup != ''">
                 and task_group = #{obj.taskGroup}
             </if>
             <if test="obj.taskCode != null and obj.taskCode != ''">
                 and task_code = #{obj.taskCode}
             </if>
             <if test="obj.taskClass != null and obj.taskClass != ''">
                 and task_class = #{obj.taskClass}
             </if>
             <if test="obj.taskParameters != null and obj.taskParameters != ''">
                 and task_parameters = #{obj.taskParameters}
             </if>
             <if test="obj.taskStatus != null and obj.taskStatus != ''">
                 and task_status = #{obj.taskStatus}
             </if>
             <if test="obj.taskTime != null and obj.taskTime != ''">
                 and task_time = #{obj.taskTime}
             </if>
             <if test="obj.isDeleted != null">
                 and is_deleted = #{obj.isDeleted}
             </if>
             <if test="obj.versionNum != null">
                 and version_num = #{obj.versionNum}
             </if>
             <if test="obj.ctime != null and obj.ctime != ''">
                 and ctime = #{obj.ctime}
             </if>
             <if test="obj.createdBy != null and obj.createdBy != ''">
                 and created_by = #{obj.createdBy}
             </if>
             <if test="obj.utime != null and obj.utime != ''">
                 and utime = #{obj.utime}
             </if>
             <if test="obj.lastUpdatedBy != null and obj.lastUpdatedBy != ''">
                 and last_updated_by = #{obj.lastUpdatedBy}
             </if>
        </where>
    </select>
</mapper>